<!DOCTYPE html>
<html>
  <?- include('../partials/head') -?>
  <body>
    <?- include('../partials/header') -?>
    <?- include('../partials/nav') -?>
    <div class="" style="height: 100vh;">
      <marquee behavior="" direction="left" class="fs-1">Hello</marquee> 
      <div class="text-center my-3 bg-success text-white font-bold">
       <marquee behavior="" direction="right" class="fs-1">Jirasak Suktakua</marquee> 
      </div>
      <div>
        <img src="https://images6.alphacoders.com/130/1304880.jpg" class="" style="height: 800px; width: 800px;" alt="">
        <img src="https://images6.alphacoders.com/130/1304880.jpg" class="" style="height: 800px; width: 800px;" alt="">
      </div>
      <div class="text-center"></div>
    </div>
    <?- include('../partials/footer') -?>
  </body>
</html>
